/* home colors*/
html {
  font-size: 12px;
  color: #000;
}

body {
  font-family: "Renner", sans-serif;
  font-weight: 400;
}

.row,
.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
  margin: 0;
}

/* fonts */
/*renner */
@font-face {
  font-family: "Renner";
  src: url("../fonts/Renner_ 400 Book.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Renner";
  src: url("../fonts/Renner_ 500 Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Renner";
  src: url("../fonts/Renner_ 700 Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
/**********************utils part css*******************/
.u-flex {
  display: flex;
}

.u-flex-center {
  display: flex;
  align-items: center;
}

.u-flex-justify-center {
  display: flex;
  justify-content: center;
}

.u-flex-space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.u-flex-direcion-colum-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.u-flex-direcion-colum {
  display: flex;
  flex-direction: column;
}

.u-center-justify-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.u-uppercase {
  text-transform: uppercase;
}

.u-lowercase {
  text-transform: lowercase;
}

.u-scroll-y {
  overflow-y: scroll;
}

.u-scroll-x {
  overflow-x: scroll;
}

.mt-6 {
  margin-top: 7rem;
}

.mr-7 {
  margin-right: 7rem;
}

.ml-7 {
  margin-left: 7rem;
}

.pr-7 {
  padding-right: 7rem;
}

.pl-7 {
  padding-left: 7rem;
}

/**********************button part css*******************/
.btn-primary {
  background-color: #000;
  border-color: #000;
  border-radius: 5px;
  font-size: 1rem;
}

/* remove 1 if this color been the promary color or remove all 1 in html and remove this block */
.btn-primary-1 {
  background-color: #a1c798;
  border-color: #a1c798;
  color: #56745b;
  border-radius: 5px;
  font-size: 1rem;
}

.btn-secondary {
  background-color: transparent;
  border: none;
  color: #707070;
  font-size: 1rem;
}

/* styling radio + checkboxes */
input[type=checkbox],
input[type=radio] {
  display: none;
}

input[type=checkbox] + label,
input[type=radio] + label {
  background-color: #000;
  height: 86px;
  width: 86px;
  border-radius: 50px;
  border: 5px solid #000;
  cursor: pointer;
}

input[type=checkbox]:checked + label,
input[type=radio]:checked + label {
  background-color: #000;
  height: 86px;
  width: 86px;
  border-radius: 50px;
  border: 5px solid #000;
  cursor: pointer;
}

input[type=checkbox] + label .o-checkbox-image,
input[type=checkbox]:checked + label .o-checkbox-image,
input[type=radio] + label .o-checkbox-image,
input[type=radio]:checked + label .o-checkbox-image {
  background: url("../img/male.png") 0 0px no-repeat;
  height: 30px;
  width: 25px;
  margin: 23px auto 0;
}

input[type=checkbox]:checked + label div:nth-of-type(2),
input[type=radio]:checked + label div:nth-of-type(2) {
  border-radius: 50px;
  border: 1px solid white;
  padding: 37px;
  position: relative;
  top: -53px;
}

.form-control:focus {
  color: #5d5d5d;
  background-color: #fff;
  border-color: none;
  outline: 0;
  box-shadow: none;
}

/* inputs */
.form-control {
  padding: 2rem 1rem;
  border: none;
  color: black;
}

/* square form */
.o-input-radio--square input[type=checkbox] + label,
.o-input-radio--square input[type=radio] + label {
  background-color: transparent;
  height: 150px;
  width: 163px;
  border-radius: 5px;
  border: 3px solid #000;
  cursor: pointer;
}
.o-input-radio--square input[type=checkbox]:checked + label,
.o-input-radio--square input[type=radio]:checked + label {
  background-color: #000;
  height: 150px;
  width: 163px;
  border-radius: 5px;
  border: 3px solid #000;
  cursor: pointer;
}
.o-input-radio--square input[type=checkbox] + label h5,
.o-input-radio--square input[type=radio] + label h5 {
  color: #000;
  opacity: 0.67;
}
.o-input-radio--square input[type=checkbox]:checked + label h5,
.o-input-radio--square input[type=radio]:checked + label h5 {
  color: white;
}
.o-input-radio--square h5 {
  font-size: 0.875rem;
  padding-top: 50px;
}

/**********************header part css*******************/
header {
  padding: 1rem 3.33rem;
}

nav a {
  color: #707070;
  font-size: 1rem;
  line-height: 14px;
  margin-right: 0.833rem;
}
nav a:hover {
  color: #56745b;
  text-decoration: none;
}

@media (min-width: 992px) {
  .c-home .navbar-expand-lg .navbar-collapse {
    display: block !important;
    flex-grow: 0;
  }
}
.c-home .nav-item {
  color: #707070;
}
.c-home .c-CCM-nav {
  color: #56745b;
}

/**********************footer part css*******************/
/**********************home part css*******************/
.bg-home {
  background-color: #f2f8f9;
}

.bg-home-secondary {
  background-color: rgba(158, 186, 208, 0.07);
}

.c-home .c-presentation h2 {
  color: #1d265c;
  font-size: 2.5rem;
  font-weight: 300;
}
.c-home .c-presentation span {
  opacity: 0.67;
  font-size: 1.5rem;
  margin: 2rem 0;
  font-weight: 300;
  margin: 1rem 0;
  display: inline-block;
}
.c-home .c-presentation button {
  margin: 3rem 0 5rem;
  padding: 1rem 5rem;
  font-size: 1.3rem;
}
.c-home .c-presentation i {
  color: #a1c798;
  margin-right: 1rem;
}
.c-home .c-CCM h2 {
  color: #1d265c;
  text-align: center;
  font-size: 2rem;
  padding: 3rem 0;
}
.c-home .c-concept h2 {
  color: #1d265c;
  text-align: center;
  font-size: 2rem;
  padding: 3rem 0;
}
.c-home .c-concept h3 {
  color: #56745b;
  font-size: 2rem;
}
.c-home .c-concept p {
  color: #4f5051;
  font-size: 1.5rem;
}
.c-home .c-concept img {
  width: 400px;
}
.c-home .c-summary h2 {
  color: #a1c798;
  text-align: center;
  font-size: 3.75rem;
  padding: 3rem 0;
}
.c-home .c-summary img {
  width: 352px;
  height: 352px;
  box-shadow: 0 0 61px 0 rgba(0, 0, 0, 0);
  border: solid 21px #fcfcfc;
  border-radius: 300px;
}
.c-home .c-summary .c-summary__description {
  text-align: center;
}
.c-home .c-summary .c-summary__description h3 {
  color: #1d265c;
  font-size: 2.5rem;
}
.c-home .c-summary .c-summary__description p {
  color: #4f5051;
  font-size: 1.5rem;
  width: 320px;
}
.c-home .c-summary-result h2 {
  color: black;
  opacity: 0.11;
  text-align: center;
  font-size: 3.75rem;
  padding: 3rem 0;
}
.c-home .c-summary-result h3 {
  font-size: 1.66rem;
  color: #1d265c;
  margin-top: 2.5rem;
  margin-bottom: 1.66rem;
}
.c-home .c-summary-result p {
  color: #4f5051;
  font-size: 1.5rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
.c-home .c-summary-result hr {
  margin: 0;
  height: 6px;
  background-color: #a1c798;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
.c-home .c-summary-result img {
  width: 100%;
  height: auto;
}
.c-home .c-summary-result-second-part h2 {
  color: black;
  opacity: 0.11;
  text-align: center;
  font-size: 3.75rem;
  padding: 3rem 0;
}
.c-home .c-summary-result-second-part h3 {
  font-size: 1.66rem;
  color: #1d265c;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}
.c-home .c-summary-result-second-part p {
  color: #4f5051;
  font-size: 1.5rem;
}

/**********************rdv part css*******************/
.c-rendez-vous {
  padding: 4.16rem 3.33rem 5.83rem;
  background-color: #f2f6f9;
}
.c-rendez-vous .c-rendez-vous__list {
  padding: 10px;
  margin: 0 auto;
}
.c-rendez-vous .c-rendez-vous__list button {
  display: block;
  padding: 10px;
  width: 100%;
  font-size: 1rem;
}
.c-rendez-vous .c-rendez-vous__list h2 {
  font-size: 2.5rem;
  padding: 2.5rem 0;
}
.c-rendez-vous .c-rendez-vous__list .c-rendez-vous-list__info {
  margin-bottom: 1.66rem;
}
.c-rendez-vous .c-rendez-vous__list .c-rendez-vous-list__info .c-rendez-vous-list-info__date p:nth-of-type(1),
.c-rendez-vous .c-rendez-vous__list .c-rendez-vous-list__info .c-rendez-vous-list-info__date p:nth-of-type(3) {
  color: #9b9b9b;
  font-size: 1.16666667rem;
}
.c-rendez-vous .c-rendez-vous__list .c-rendez-vous-list__info .c-rendez-vous-list-info__date p:nth-of-type(2) {
  color: #000;
  font-size: 2.5rem;
}
.c-rendez-vous .c-rendez-vous__list .c-rendez-vous-list__info .c-rendez-vous-list-info__coordinate {
  background-color: #fff;
  width: 90%;
  padding: 0.83rem 1.66rem 2.5rem;
  border-radius: 5px;
}
.c-rendez-vous .c-rendez-vous__list .c-rendez-vous-list__info .c-rendez-vous-list-info__coordinate > div:nth-of-type(1) {
  margin-bottom: 2rem;
}
.c-rendez-vous .c-rendez-vous__list .c-rendez-vous-list__info .c-rendez-vous-list-info__coordinate > div:nth-of-type(1) span {
  color: #9b9b9b;
}
.c-rendez-vous .c-rendez-vous__list .c-rendez-vous-list__info .c-rendez-vous-list-info__coordinate > div:nth-of-type(2) span {
  font-size: 1.16rem;
}

/**********************search client part css*******************/
.c-search-client,
.c-modifier-client {
  padding: 4.16rem 3.33rem 5.83rem;
  background-color: #f2f6f9;
}
.c-search-client .c-search-client__search-block h2,
.c-modifier-client .c-search-client__search-block h2 {
  font-size: 2.5rem;
  margin-bottom: 3.75rem;
}
.c-search-client .c-search-client__search-block .c-search-client-search-block__result,
.c-modifier-client .c-search-client__search-block .c-search-client-search-block__result {
  background-color: #fff;
  border-radius: 0.312rem;
  margin-top: 0.833rem;
  padding: 1.5rem 4rem 1.33rem 1rem;
}
.c-search-client .c-search-client__search-block .c-search-client-search-block__result .c-info-block h3,
.c-modifier-client .c-search-client__search-block .c-search-client-search-block__result .c-info-block h3 {
  font-size: 1.166rem;
  font-weight: bold;
  margin-left: 8px;
}
.c-search-client .c-search-client__search-block .c-search-client-search-block__result .c-info-block h4,
.c-modifier-client .c-search-client__search-block .c-search-client-search-block__result .c-info-block h4 {
  color: #9b9b9b;
  font-size: 1rem;
  margin-left: 34px;
}
.c-search-client .c-search-client__search-block .c-search-client-search-block__result .c-info-block h4 + div,
.c-modifier-client .c-search-client__search-block .c-search-client-search-block__result .c-info-block h4 + div {
  margin-left: 34px;
}
.c-search-client .c-search-client__search-block .c-search-client-search-block__result .c-info-block h4 + div span,
.c-modifier-client .c-search-client__search-block .c-search-client-search-block__result .c-info-block h4 + div span {
  color: #000;
  font-size: 0.83rem;
}
.c-search-client .c-search-client__search-block .c-search-client-search-block__result .c-info-block .o-picture-user,
.c-modifier-client .c-search-client__search-block .c-search-client-search-block__result .c-info-block .o-picture-user {
  width: 26px;
  height: 26px;
  background-color: #dedede;
  border-radius: 50px;
}
.c-search-client .c-search-client__search-block .c-search-client-search-block__result .u-flex-direcion-colum-center,
.c-modifier-client .c-search-client__search-block .c-search-client-search-block__result .u-flex-direcion-colum-center {
  margin-left: 5.25rem;
}
@media screen and (min-width: 1000px) and (max-width: 1230px) {
  .c-search-client .c-search-client__search-block .c-search-client-search-block__result .u-flex-direcion-colum-center,
.c-modifier-client .c-search-client__search-block .c-search-client-search-block__result .u-flex-direcion-colum-center {
    margin-left: 3.25rem;
  }
}
@media screen and (max-width: 1000px) {
  .c-search-client .c-search-client__search-block .c-search-client-search-block__result .u-flex-direcion-colum-center,
.c-modifier-client .c-search-client__search-block .c-search-client-search-block__result .u-flex-direcion-colum-center {
    margin-left: 1rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 800px) {
  .c-search-client .c-search-client__search-block .c-search-client-search-block__result .u-flex-direcion-colum-center,
.c-modifier-client .c-search-client__search-block .c-search-client-search-block__result .u-flex-direcion-colum-center {
    margin-left: 0.2rem;
  }
}
.c-search-client .c-search-client__search-block .c-search-client-search-block__result .u-flex-direcion-colum-center > div,
.c-modifier-client .c-search-client__search-block .c-search-client-search-block__result .u-flex-direcion-colum-center > div {
  background-color: #000;
  width: 25px;
  height: 25px;
  border-radius: 50px;
  text-align: center;
}
.c-search-client .c-search-client__search-block input,
.c-modifier-client .c-search-client__search-block input {
  border-radius: 0.312rem;
  border: 0 none !important;
  padding: 1.9rem 0 1.9rem 1.25rem !important;
  font-size: 1.33rem;
}
.c-search-client .c-search-client__search-block .input-group-text,
.c-modifier-client .c-search-client__search-block .input-group-text {
  border: 0;
  background-color: #fff;
  padding-right: 1.25rem;
  font-size: 1.3rem;
  color: #4d4d4d;
}

/**********************create client part css*******************/
.c-create-client h2,
.c-modifier-client__profile h2 {
  font-size: 2.5rem;
  margin-bottom: 3.75rem;
}
.c-create-client .c-frequence-sportive-items,
.c-modifier-client__profile .c-frequence-sportive-items {
  width: 184px;
  height: 149px;
  border-radius: 5px;
  background-color: #000;
  margin-right: 1rem;
}
.c-create-client .c-frequence-sportive-items + div input,
.c-modifier-client__profile .c-frequence-sportive-items + div input {
  margin-right: 1rem;
  margin-top: 1rem;
  width: 95%;
  height: 50px;
  border-radius: 5px;
  border: none;
  background-color: #ffffff;
  font-size: 1.166rem;
}
.c-create-client .c-calories-input input,
.c-modifier-client__profile .c-calories-input input {
  font-size: 48px;
  font-weight: bold;
  width: 27%;
  text-align: center;
  background: transparent;
  box-shadow: none;
  border: none;
  border-bottom: 1px solid #000;
  margin: 0 auto;
}
.c-create-client .c-calories-input input:focus,
.c-modifier-client__profile .c-calories-input input:focus {
  outline: none;
}
.c-create-client button,
.c-modifier-client__profile button {
  margin: 0 auto;
  padding: 2% 20%;
  display: block;
}
.c-create-client button:nth-of-type(1),
.c-modifier-client__profile button:nth-of-type(1) {
  margin-top: 7%;
}
.c-create-client button:nth-of-type(2),
.c-modifier-client__profile button:nth-of-type(2) {
  margin-top: 10%;
}

.c-modifier-client__profile .c-calories-input input {
  border-bottom: 1px solid #000;
  padding: 0 21px;
}
.c-modifier-client__profile h2 {
  font-size: 2.5rem;
  margin-bottom: 3.75rem;
}
.c-modifier-client__profile .o-mdifier-picture-user {
  width: 66px;
  height: 66px;
  border-radius: 33px;
  background-color: #000000;
  margin-right: 5%;
}
.c-modifier-client__profile h3 {
  font-size: 18px;
}
.c-modifier-client__profile h4 {
  font-size: 33px;
}

.o-input-check fieldset {
  margin-right: 0.66rem;
}

@media screen and (max-width: 776px) {
  .c-client-assigned {
    margin-top: 4rem;
  }
}
.c-client-assigned .o-mdifier-picture-user {
  width: 66px;
  height: 66px;
  border-radius: 33px;
  background-color: #000000;
  margin-right: 5%;
}
.c-client-assigned h3 {
  font-size: 18px;
}
.c-client-assigned h4 {
  font-size: 33px;
}
.c-client-assigned button {
  padding: 2% 20%;
}
.c-client-assigned .c-information-client {
  width: 86px;
  height: 86px;
  background-color: #000;
  border-radius: 50px;
  text-align: center;
  line-height: 80px;
}
.c-client-assigned .c-information-client img {
  height: 30px;
  width: 25px;
}
.c-client-assigned h5 {
  opacity: 0.67;
  margin-top: 1rem;
  font-size: 12px;
}

.c-client-assigned__informations {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.c-button-confirmation button {
  width: 100%;
  height: 50px;
  margin-top: 2.2rem;
}

/* calendar */
.c-calendar .datepicker {
  width: 90%;
}
.c-calendar .datepicker--cell {
  height: 80px;
}
.c-calendar .datepicker--nav-title,
.c-calendar .datepicker--nav-title i {
  font-size: 20px;
  color: #000;
}
.c-calendar .datepicker--nav-action path {
  stroke: #000000;
}
.c-calendar .datepicker--nav {
  padding: 1.5rem 2rem 3rem;
  border-bottom: 0;
}
.c-calendar .datepicker--day-name {
  color: #5d5f64;
}
.c-calendar .datepicker--cell.-selected-,
.c-calendar .datepicker--cell.-selected-.-current- {
  color: #fff;
  background: #000;
  border-radius: 20px;
}
.c-calendar .datepicker--days-names {
  margin: 8px 0 30px;
}

/**********************intro part css*******************/
.c-quiz-loading {
  background-color: #f2f6f9;
}
.c-quiz-loading h3 {
  color: #707070;
  font-size: 1rem;
  position: absolute;
  top: 0px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  height: 0;
}

/* progress bar */
.c-progressbar {
  background-color: #ededed;
  border-radius: 13px;
  padding: 1px;
  margin-bottom: 10%;
}

.c-progressbar > div {
  background-color: #000;
  width: 10%;
  /* Adjust with JavaScript */
  height: 5px;
  border-radius: 5px;
}

/**********************gender part css*******************/
.c-quiz-gender {
  background-color: #f2f6f9;
}
.c-quiz-gender h1 {
  font-size: 1.5rem;
  margin-top: 26%;
  margin-bottom: 8%;
}
.c-quiz-gender .c-quiz-gender-container {
  max-width: 345px;
  display: block;
  margin: 0 auto;
  padding-bottom: 15.4%;
  overflow: hidden;
}
@media screen and (max-width: 970px) {
  .c-quiz-gender .c-quiz-gender-container {
    padding-bottom: 25%;
  }
}
@media screen and (max-width: 970px) {
  .c-quiz-gender .c-quiz-gender-container {
    padding-bottom: 29%;
  }
}
.c-quiz-gender footer {
  background-color: #f2f6f9;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
.c-quiz-gender footer > div {
  max-width: 345px;
  display: block;
  margin: 0 auto;
}
.c-quiz-gender footer button {
  margin: 0 auto;
  padding: 2% 45%;
  display: block;
  margin-bottom: 10%;
}

/**********************objectif part css*******************/
.c-quiz-objectif {
  background-color: #f2f6f9;
}
.c-quiz-objectif h1 {
  font-size: 1.5rem;
  margin-top: 14%;
  margin-bottom: 8%;
}
.c-quiz-objectif .c-quiz-objectif-container {
  max-width: 534px;
  display: block;
  margin: 0 auto;
  padding-bottom: 15.4%;
  overflow: hidden;
}
@media screen and (max-width: 970px) {
  .c-quiz-objectif .c-quiz-objectif-container {
    padding-bottom: 25%;
  }
}
@media screen and (max-width: 970px) {
  .c-quiz-objectif .c-quiz-objectif-container {
    padding-bottom: 29%;
  }
}
.c-quiz-objectif footer {
  background-color: #f2f6f9;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
.c-quiz-objectif footer > div {
  max-width: 345px;
  display: block;
  margin: 0 auto;
}
.c-quiz-objectif footer button {
  margin: 0 auto;
  padding: 2% 45%;
  display: block;
  margin-bottom: 10%;
}

/*# sourceMappingURL=all.css.map */
