/**********************utils part css*******************/
.u-flex-space-between{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.u-uppercase{
    text-transform: uppercase;
}
.u-lowercase{
    text-transform: lowercase;
}