$color-primary: #000;
$color-white: #fff;
$color-nav: #707070;
$color-nav-hover: #56745b;
$color-bg:#f2f6f9;
$color-text-light: #9b9b9b;
$color-image-bg: #dedede;
$color-icon-search :#4d4d4d;

/* home colors*/
$color-bg-home :#f2f8f9;
$color-bg-home-secondary :rgba(158, 186, 208, 0.07);
$color-primary-home: #a1c798;
$color-title :#1d265c;
$color-section: #4f5051;

$font_stack_1: 'Roboto',
sans-serif;
$font_stack_2: 'Poppins',
sans-serif;