/**********************client part css*******************/

/* edit profile */

.c-profile-edit {
    padding: 2.16rem 3.33rem 5.83rem;
    background-color: $color-bg;

    h2 {
        font-size: 1.5rem;
        padding-bottom: 1.4rem;
    }

    input {
        border-radius: .312rem;
        border: 0 none !important;
        padding: 1.8rem 0 1.9rem 1.25rem !important;
    }

    .form-group {
        margin-bottom: 1.4rem;
    }

    .input-group-text {
        border: 0;
        background-color: $color-white;
        padding-right: 1.25rem;
        font-size: 1.3rem;
        color: $color-icon-search;
    }

    .c-profile-edit__info-account__button button {
        display: block;
        padding: 10px;
        width: 100%;
        font-size: 1rem;
        margin-top: 2rem;
    }

    input[type="file"] {
        display: none;
    }

    .o-custom-file-upload {
        display: inline-block;
        padding: 16px 12px;
        cursor: pointer;
        background-color: $color-primary;
        color: white;
        border-radius: 5px;
    }

    .c-profile-edit__profile {
        .c-profile-edit__profile-img {
            img {
                width: 50px;
                height: 50px;
                border-radius: 33px;
                background-color: $color-primary;
            }
        }

    }
}

/* net */
.c-client-net {
    padding: 4.16rem 3.33rem 5.83rem;
    background-color: $color-bg;

    h2 {
        font-size: 2.5rem;
        margin-bottom: 3rem;
    }

    .c-client-net__information {
        >div:nth-of-type(1) {
            background-color: white;
            padding: 1.66rem;
            border-radius: 5px;
            height: 312px;
        }


        .c-client-net__information-data {
            margin-left: 1rem;
        }

        .c-client-net-img {
            width: 98px;
            height: 98px;
            background-color: black;
            border-radius: 50px;
        }

        h3 {
            font-size: 1.33rem;
        }

        h4 {
            font-size: 1.16rem;
            margin: 1.5rem 0;
        }

        p,
        a {
            font-size: 1rem;
        }

        a {
            color: black;
            text-decoration: underline;
        }

        .c-client-net-fiche-button {
            margin: 0 auto;
            display: block;
        }

        .c-client-net-button {
            display: block;
            padding: 20px 10px;
            width: 100%;
            font-size: 1rem;
            margin-top: 2rem;

        }

        .c-client-net-hours {
            width: 100%;
            margin: 1rem 0;
            display: -moz-flex;
            display: -webkit-flex;
            display: -ms-flex;
            display: flex;
            -moz-flex-wrap: wrap;
            -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            -moz-align-items: -moz-stretch;
            -webkit-align-items: -webkit-stretch;
            -ms-align-items: -ms-stretch;
            align-items: stretch;
            display: flex;
            flex-wrap: wrap;

            >div {

                -moz-flex-shrink: 1;
                -webkit-flex-shrink: 1;
                -ms-flex-shrink: 1;
                flex-shrink: 1;
                -moz-flex-grow: 0;
                -webkit-flex-grow: 0;
                -ms-flex-grow: 0;
                flex-grow: 0;
                width: 20%;
            }

            .c-client-net-hours__button {
                background-color: #fff;
                border: none;
                box-sizing: border-box;
                color: $color-primary;
                width: 100%;
                font-size: 14px;
                height: 35px;

                &:focus {
                    background-color: $color-primary;
                    color: #fff;
                    box-shadow: none;
                }
            }
        }
    }
}


/* profile */
.c-profile-client {
    padding: 4.16rem 3.33rem 5.83rem;
    background-color: $color-bg;

    h2 {
        font-size: 1.5rem;
        padding-bottom: 1.4rem;
    }

    .c-profile-client__coordonnée {
        @media screen and (max-width: 776px) {
            margin-top: 4rem;
        }

        .o-mdifier-picture-user {
            width: 66px;
            height: 66px;
            border-radius: 33px;
            background-color: #000000;
            margin-right: 5%;
        }

        h3 {
            font-size: 18px;
        }

        h4 {
            font-size: 33px;
        }

        button {
            padding: 2% 10%;
            margin-bottom: 3.5rem;
        }

        .c-information-client {
            width: 86px;
            height: 86px;
            background-color: $color-primary;
            border-radius: 50px;
            text-align: center;
            line-height: 80px;

            img {
                height: 30px;
                width: 25px;
            }
        }

        h5 {
            opacity: 0.67;
            margin-top: 1rem;
            font-size: 12px;
        }


    }

    .c-profile-client__informations {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .c-profile-progression,
    .o-profil-data {
        padding: 2% 3%;

        h3 {
            font-size: 1.5rem;
        }

        h5 {
            font-size: 0.83rem;
        }
    }

    .o-profil-data {
        background-color: $color-primary;
        border-radius: 5px;

        h4 {
            color: white;
        }
    }

    .c-profil-poids-img {
        width: 52px;
        height: 52px;
        background-color: #fff;
        border-radius: 50px;
        text-align: center;
        line-height: 50px;
    }

    .c-profile__rappel-rdv {
        h2 {
            font-size: 2.5rem;
        }

        .c-profile__rappel-rdv__info {
            margin-bottom: 1.66rem;

            .c-profile__rappel-rdv-info__date {

                p:nth-of-type(1),
                p:nth-of-type(3) {
                    color: $color-text-light;
                    font-size: 1.16666667rem;
                }

                p:nth-of-type(2) {
                    color: $color-primary;
                    font-size: 2.5rem;
                }
            }

            .c-profile__rappel-rdv-info__coordinate {
                background-color: $color-white;
                width: 90%;
                padding: 0.83rem 1.66rem 2.5rem;
                border-radius: 5px;

                >div:nth-of-type(1) {
                    margin-bottom: 2rem;

                    span {
                        color: $color-text-light;
                    }
                }

                >div:nth-of-type(2) {
                    span {
                        font-size: 1.16rem;
                    }
                }
            }
        }
    }
}


/* Menu */
.c-client-menu {


    .c-client-menu-repas {
        background-color: $color-bg;
        padding: 2.16rem 3.33rem 5.83rem;

        h2 {
            font-size: 2.5rem;
            margin: 4rem 0 2rem;
        }

        .nav-tabs {
            border: none;

            .nav-link {
                border: 1px solid $color-border-navs;
                border-radius: 5px;
                padding: 1.3rem;
                color: $color-font-navs;

                &.active {
                    color: #fff;
                    background-color: $color-primary;
                }
            }
        }
    }



    .c-client-menu-choix {
        padding: 2.16rem 3.33rem 5.83rem;
    }
}