/**********************header part css*******************/
header {
    padding: 1rem 3.33rem;
}

nav {
    a {
        color: $color-nav;
        font-size: 1rem;
        line-height: 14px;
        margin-right: 0.833rem;

        &:hover {
            color: $color-nav-hover;
            text-decoration: none;
        }
    }
}

.c-home {
    .navbar-expand-lg .navbar-collapse {
        @media (min-width: 992px) {
            display: block !important;
            flex-grow: 0;
        }
    }

    .nav-item {
        color: $color-nav;
    }

    .c-CCM-nav {
        color: $color-nav-hover;
    }
}