/**********************intro part css*******************/
.c-quiz-loading {
    background-color: $color-bg;

    h3 {
        color: $color-nav;
        font-size: 1rem;
        position: absolute;
        top: 0px;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        text-align: center;
        height: 0;
    }

}